<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
<div name="nav" th:insert="fragments/nav.html :: nav"></div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/light.css">

<script src="/js/profile.js"></script>
<script src="/js/subscription.js"></script>

<div class="container" style="margin-top:10px">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <div class="blog-card" th:if="${role == 'DRIVER'}">
        <div class="shadow d-flex" style="border-radius:.25rem; padding: 15px 15px 15px 15px">
            <div class="row" style="border-right: 1px solid rgba(0,0,0,.125); margin-right:8px; width:100%">
                <div th:if="${#lists.size(cars) == 0}" class="col-12 text-center">
                    <p style="margin-top: 16px; color: gray">У данного пользователя нет авто</p>
                </div>
                <div th:if="${#lists.size(cars) != 0}" class="col-6" th:each="car : ${cars}">
                    <div class="blog-card">
                        <div class="card shadow">
                            <img th:if="${car.imageName != null}" th:src="'/image/theDrive_dirs/' + ${user.id} + '/' + ${car.uuid} + '/' + ${car.imageName}" class="card-img-top rounded-top" style="object-fit: cover; height: 150px">
                            <img th:if="${car.imageName == null}" src="/image/theDrive_dirs/image/post.PNG" class="card-img-top rounded-top" style="object-fit: cover; height: 150px">
                            <div class="card-body">
                                <h5 th:href="'/profile/car_profile/' + ${car.id}" th:text="${car.brand.description} + ' ' + ${car.model.description}" onclick="window.location.href=($(this).attr('href'))" style="cursor: pointer"></h5>
                                <div class="row">
                                    <div class="col-6 text-center">
                                        <h5 th:text="${#lists.size(car.getFollowers())}"></h5>
                                        <p>Подписчики</p>
                                    </div>
                                    <div class="col-6 text-center">
                                        <h5 th:text="${car.getCountPost()}"></h5>
                                        <p>Посты</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white border-0 px-0 py-0">
                                <div class="d-grid">
                                    <a class="btn btn-sm btn-secondary rounded-0 rounded-bottom" th:href="'/profile/car_profile/' + ${car.id}">
                                        Перейти
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ml-auto" style="width: 33%; margin-left: 4px; ">
                <div class="blog-card">
                    <div class="card shadow">
<!--                        <a href="#">-->
                            <img th:if="${user.imageName != null}" th:src="'/image/theDrive_dirs/' + ${user.id} + '/' + ${user.uuid} + '/' + ${user.imageName}" class="card-img-top rounded-top" style="object-fit: cover; height: 150px">
                            <img th:if="${user.imageName == null}" src="/image/theDrive_dirs/image/post.PNG" class="card-img-top rounded-top" style="object-fit: cover; height: 150px">
<!--                        </a>-->
                        <div class="card-body">
                            <h5 class="text-center" th:text="${user.firstName} + ' ' + ${user.lastName}"></h5>
                            <div class="row text-center">
                                <div class="col-6" >
                                    <a data-bs-toggle="modal" data-bs-target="#followersModal" style="cursor: pointer">
                                        <h5 th:text="${#lists.size(user.getFollowers())}"></h5>
                                        <p>Подписчики</p>
                                    </a>
                                    <div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="followersModalLabel">Подписчики</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p th:if="${#lists.size(user.getFollowers()) == 0}" style="margin-top: 16px; color: gray">У пользователя нет подписок</p>
                                                    <ul class="list-group list-group-flush">
                                                        <li th:each="subscription : ${user.getFollowers()}" class="list-group-item" style="cursor: pointer">
                                                            <h6 th:text="${subscription.user.login}" th:href="'/profile/' + ${subscription.user .id}" onclick="window.location.href=($(this).attr('href'))"></h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <a data-bs-toggle="modal" data-bs-target="#followModal" style="cursor: pointer">
                                        <h5 th:text="${#lists.size(user.getFollowCar()) + #lists.size(user.getFollowUser())}"></h5>
                                        <p>Подписки</p>
                                    </a>
                                    <div class="modal fade" id="followModal" tabindex="-1" aria-labelledby="followModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="followModalLabel">Подписки</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <ul class="nav nav-pills nav-fill" role="tablist">
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link active" id="blog-tab" data-bs-toggle="tab" data-bs-target="#blog" type="button" role="tab" aria-controls="blog" aria-selected="true" style="width: 233px">Пользователи</button>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link" id="service-tab" data-bs-toggle="tab" data-bs-target="#service" type="button" role="tab" aria-controls="service" aria-selected="false" style="width: 233px">Авто</button>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane fade show active" id="blog" role="tabpanel" aria-labelledby="blog-tab">
                                                            <p th:if="${#lists.size(user.getFollowUser()) == 0}" style="margin-top: 16px; color: gray">Нет подписок на пользователей</p>
                                                            <ul class="list-group list-group-flush" style="margin-top:15px">
                                                                <li class="list-group-item" th:each="subscription : ${user.getFollowUser()}" style="cursor: pointer">
                                                                    <h6 th:text="${subscription.userFollow.login}" th:href="'/profile/' + ${subscription.userFollow.id}" onclick="window.location.href=($(this).attr('href'))"></h6>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="tab-pane fade" id="service" role="tabpanel" aria-labelledby="service-tab">
                                                            <p th:if="${#lists.size(user.getFollowCar()) == 0}" style="margin-top: 16px; color: gray">Нет подписок на авто</p>
                                                            <ul class="list-group list-group-flush" style="margin-top:15px">
                                                                <li class="list-group-item" th:each="follow_car : ${user.getFollowCar()}" style="cursor: pointer">
                                                                    <a th:href="'/profile/car_profile/' + ${follow_car.carFollow.id}" onclick="window.location.href=($(this).attr('href'))" class="text-center" style="color: #212529;text-decoration: none;">
                                                                        <h6 class="text-center" th:unless="${follow_car.carFollow.name} == null" th:text="${follow_car.carFollow.brand.description} + ' ' + ${follow_car.carFollow.model.description} + ' ' + ${follow_car.carFollow.name}"></h6>
                                                                        <h6 class="text-center" th:if="${follow_car.carFollow.name} == null" th:text="${follow_car.carFollow.brand.description} + ' ' + ${follow_car.carFollow.model.description}"></h6>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div sec:authorize="isAuthenticated()" th:if="${subscriptionUser != null}" class="card-footer bg-white border-0 px-0 py-0">
                            <div class="d-grid">
                                <button th:if="${subscriptionUser == false}" class="btn btn-sm btn-secondary rounded-0 rounded-bottom" name="subscription_button" style="background-color: #007bff; border: none; transition: background-color 0.7s ease;" th:onclick="changeSubscriptionUser([[${user.id}]])">Подписаться</button>
                                <button th:if="${subscriptionUser == true}" class="btn btn-sm btn-secondary rounded-0 rounded-bottom" name="subscription_button" style="background-color: #28a745; border: none; transition: background-color 0.7s ease;" th:onclick="changeSubscriptionUser([[${user.id}]])">Отписаться</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-card" th:if="${role == 'COMPANY'}">
        <div class="shadow d-flex align-items-start" style="border-radius:.25rem; padding: 15px 15px 15px 15px">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-company-tab" data-bs-toggle="pill" data-bs-target="#company" type="button" role="tab" aria-controls="v-pills-company" aria-selected="false">Комапния</button>
                <button class="nav-link" id="v-pills-services-tab" data-bs-toggle="pill" data-bs-target="#services" type="button" role="tab" aria-controls="v-pills-services" aria-selected="false">Услуги</button>
            </div>
            <div class="tab-content" style="flex-grow: 1" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="company" role="tabpanel" aria-labelledby="company-tab">
                    <div class="row">
                        <div class="col-8">
                            <div class="blog-card">
                                <div class="card shadow" style="border-radius:.25rem; padding: 15px 15px 15px 15px" name="companyForm">
                                    <form action="">
                                        <label class="form-label" for="site">Сайт компании</label>
                                        <p><a id="site" th:href="${company.site}" th:text="${company.site}"></a></p>
                                        <label class="form-label" for="number">Номер</label>
                                        <p id="number" th:text="${company.number}"></p>
                                        <label class="form-label" for="address">Адрес</label>
                                        <p id="address" th:text="${company.address}"></p>
                                        <label class="form-label">График работы</label>
                                        <p>Понедельник: <span class="day-work" value="1" th:text="(${company.scheduleWork.monday} == true ? ${#dates.format(company.scheduleWork.timeStart, 'HH:mm')} +  ' - ' +  ${#dates.format(company.scheduleWork.timeEnd, 'HH:mm')}: 'Выходной' )"></span></p>
                                        <p>Вторник: <span class="day-work" value="2" th:text="(${company.scheduleWork.tuesday} == true ? ${#dates.format(company.scheduleWork.timeStart, 'HH:mm')} +  ' - ' +  ${#dates.format(company.scheduleWork.timeEnd, 'HH:mm')}: 'Выходной' )"></span></p>
                                        <p>Среда: <span class="day-work" value="3" th:text="(${company.scheduleWork.wednesday} == true ? ${#dates.format(company.scheduleWork.timeStart, 'HH:mm')} +  ' - ' +  ${#dates.format(company.scheduleWork.timeEnd, 'HH:mm')}: 'Выходной' )"></span></p>
                                        <p>Четверг: <span class="day-work" value="4" th:text="(${company.scheduleWork.thursday} == true ? ${#dates.format(company.scheduleWork.timeStart, 'HH:mm')} +  ' - ' +  ${#dates.format(company.scheduleWork.timeEnd, 'HH:mm')}: 'Выходной' )"></span></p>
                                        <p>Пятница: <span class="day-work" value="5" th:text="(${company.scheduleWork.friday} == true ? ${#dates.format(company.scheduleWork.timeStart, 'HH:mm')} +  ' - ' +  ${#dates.format(company.scheduleWork.timeEnd, 'HH:mm')}: 'Выходной' )"></span></p>
                                        <p>Суббота: <span class="day-work" value="6" th:text="(${company.scheduleWork.saturday} == true ? ${#dates.format(company.scheduleWork.timeStart, 'HH:mm')} +  ' - ' +  ${#dates.format(company.scheduleWork.timeEnd, 'HH:mm')}: 'Выходной' )"></span></p>
                                        <p>Воскресенье: <span class="day-work" value="0" th:text="(${company.scheduleWork.sunday} == true ? ${#dates.format(company.scheduleWork.timeStart, 'HH:mm')} +  ' - ' +  ${#dates.format(company.scheduleWork.timeEnd, 'HH:mm')}: 'Выходной' )"></span></p>
                                        <label class="form-label" for="description">Описание</label>
                                        <p id="description" th:text="${company.description}"></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="blog-card">
                                <div class="card shadow">
                                    <a href="#"><img th:src="'/image/theDrive_dirs/' + ${user.id} + '/' + ${user.uuid} + '/' + ${user.imageName}" class="card-img-top rounded-top" style="object-fit: cover; height: 150px"></a>
                                    <div class="card-body">
                                        <h5 class="text-center" th:text="${user.firstName} + ' ' + ${user.lastName}" style="margin-bottom: 32px; margin-top: 16px"></h5>
                                        <div class="row text-center">
                                            <div class="col-6" style="cursor: pointer">
                                                <a data-bs-toggle="modal" data-bs-target="#followersModal">
                                                    <h5 th:text="${#lists.size(user.getFollowers())}"></h5>
                                                    <p>Подписчики</p>
                                                </a>
                                                <div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="followersModalLabel">Подписчики</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <!--                                                                <p th:if="${#lists.size(user.getFollowUser()) == 0}" style="margin-top: 16px; color: gray">На вас никто не подписан</p>-->
                                                                <ul th:each="follow_user : ${user.getFollowUser()}">
                                                                    <li th:text="${follow_user.userFollow.login}"></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6" style="cursor: pointer">
                                                <a data-bs-toggle="modal" data-bs-target="#followModal">
                                                    <h5 th:text="${#lists.size(user.getFollowCar()) + #lists.size(user.getFollowUser())}"></h5>
                                                    <p>Подписки</p>
                                                </a>
                                                <div class="modal fade" id="followModal" tabindex="-1" aria-labelledby="followModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="followModalLabel">Подписки</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
                                                                    <li class="nav-item" role="presentation">
                                                                        <button class="nav-link active" id="blog-tab" data-bs-toggle="tab" data-bs-target="#blog" type="button" role="tab" aria-controls="blog" aria-selected="true" style="width: 233px">Пользователи</button>
                                                                    </li>
                                                                    <li class="nav-item" role="presentation">
                                                                        <button class="nav-link" id="service-tab" data-bs-toggle="tab" data-bs-target="#service" type="button" role="tab" aria-controls="service" aria-selected="false" style="width: 233px">Авто</button>
                                                                    </li>
                                                                </ul>
                                                                <div class="tab-content" id="myTabContent">
                                                                    <div class="tab-pane fade show active" id="blog" role="tabpanel" aria-labelledby="blog-tab">
                                                                        <p th:if="${#lists.size(user.getFollowUser()) == 0}" style="margin-top: 16px; color: gray">У вас нет подписок на пользователей</p>
                                                                        <ul th:each="follow_user : ${user.getFollowUser()}">
                                                                            <li th:text="${follow_user.userFollow.login}"></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="tab-pane fade" id="service" role="tabpanel" aria-labelledby="service-tab">
                                                                        <p th:if="${#lists.size(user.getFollowCar()) == 0}" style="margin-top: 16px; color: gray">У вас нет подписок на авто</p>
                                                                        <ul class="list-group list-group-flush" th:each="follow_car : ${user.getFollowCar()}">
                                                                            <li class="list-group-item">
                                                                                <h6 th:text="${follow_car.carFollow.brand.description + ' ' + follow_car.carFollow.model.description + ' ' + follow_car.carFollow.name}"></h6>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer bg-white border-0 px-0 py-0">
                                        <div class="d-grid" sec:authorize="isAuthenticated() and hasAuthority('DRIVER')">
                                            <a class="btn btn-warning rounded-0 rounded-bottom" data-bs-toggle="modal" data-bs-target="#addOnlineRecordModal" onclick="initFlatpickr()">
                                                Онлайн запись
                                            </a>
                                            <div class="modal fade" id="addOnlineRecordModal" tabindex="-1" aria-labelledby="addOnlineRecordModalLabel" aria-hidden="true" style="z-index: 1045;">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="addOnlineRecordModalLabel">Онлайн запись</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="/use_services/add" method="post">
                                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                                                <label for="service" class="form-label">Услуга</label>
                                                                <select class="custom-select select2" name="serviceId" style="width:100%" required>
                                                                    <option th:each="service : ${company.services}" th:text="${service.name}" th:value="${service.id}"></option>
                                                                </select>
                                                                <label for="date" class="form-label" style="margin-top: 16px">Дата</label>
                                                                <input id="date" class="form-control" style="background-color:transparent" name="date" data-input onchange="getFreeTimeForNewRecord()" required/>
                                                                <label for="time" class="form-label" style="margin-top: 16px; ">Время</label>
                                                                <div id="time">
                                                                    <p style="color: #919191; margin: 0">Укажите дату</p>
                                                                </div>
                                                                <label for="time" class="form-label" style="margin-top: 16px; ">Автомобиль</label>
                                                                <select class="custom-select select2" name="carId" style="width:100%" required>
                                                                    <option th:each="car : ${cars}" th:text="${car.brand.description + ' ' + car.model.description + ' ' + car.generation.description}" th:value="${car.id}"></option>
                                                                </select>
                                                                <button type="submit" class="btn btn-primary" style="margin-top: 16px">Сохранить</button>
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="margin-top: 16px">Закрыть</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">
                    <div th:each="service : ${company.services}" class="row align-items-center" style="min-height: 60px;border: 2px solid #efefef;border-radius: .25rem; margin: 0 0 15px 0">
                        <div class="col-3">
                            <span class="h6" th:text="${service.name}"></span>
                        </div>
                        <div class="col-3">
                            <span th:text="'Время выполнения: ' + ${service.timeSpend} + ' ч.'"></span>
                        </div>
                        <div class="col-3">
                            <span th:text="'Категория: ' + ${service.category.description}"></span>
                        </div>
                        <div class="col-2">
                            <span th:text="'Цена: ' + ${service.price} + ' руб.'"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-card" th:if="${role == 'AUTHOR'}">
        <div class="shadow d-flex" style="border-radius:.25rem; padding: 15px 15px 15px 15px">
            <div class="row" style="border-right: 1px solid rgba(0,0,0,.125); margin-right:8px">
                <div class="col-6" th:each="post : ${posts}">
                    <div class="blog-card">
                        <div class="card shadow">
                            <a th:href="'/post/' + ${post.id}" onclick="window.location.href=($(this).attr('href'))">
                                <img th:if="${post.imageName != null}" th:src="'/image/theDrive_dirs/' + ${post.author.id} + '/' + ${post.uuid} + '/' + ${post.imageName}" class="card-img-top rounded-top" style="object-fit: cover; height: 150px">
                                <img th:if="${post.imageName == null}" src="/image/theDrive_dirs/image/post.PNG" class="card-img-top rounded-top" style="object-fit: cover; height: 150px">
                            </a>
                            <div class="card-body" style="height: 117px">
                                <div class="d-flex justify-content-between">
                                    <span class="d-block mb-2" style="font-size:14px" th:text="${#dates.format(post.dateCreate, 'dd.MM.yyyy HH:mm')}"></span>
                                    <div>
                                        <i class="fa fa-edit" data-bs-toggle="modal" th:data-bs-target="'#editPostModal' + ${post.id}" style="font-size: 18px; color:gray; cursor:pointer"></i>
                                        <div class="modal fade" th:id="'editPostModal' + ${post.id}" tabindex="-1" aria-labelledby="editPostModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editPostModalLabel">Редактировать пост</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="'/post/edit/' + ${post.id}" method="post" enctype="multipart/form-data">
                                                            <label for="title" class="form-label">Заголовок</label>
                                                            <input type="text" th:value="${post.title}" class="form-control" style="margin-bottom: 16px" id="title" name="title" autocomplete="off">
                                                            <label for="text" class="form-label">Текст новости</label>
                                                            <textarea th:text="${post.text}" class="form-control" style="margin-bottom: 16px" id="text" name="text" rows="3" autocomplete="off"></textarea>
                                                            <label for="image" class="form-label">Обложка</label>
                                                            <input type="file" class="form-control" id="image" style="margin-bottom: 16px" name="image" accept=".png,.jpg,.jpeg">
                                                            <div class="form-check" style="margin-bottom: 16px">
                                                                <input class="form-check-input" type="checkbox" th:value="${post.display == true} ? 'true' : '' " id="display" name="display" onchange="changeCheckbox($(this))" th:checked="${post.display}">
                                                                <label class="form-check-label" for="display">
                                                                    Отображать пост
                                                                </label>
                                                            </div>
                                                            <button type="submit" class="btn btn-primary">Сохранить</button>
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <i th:unless="${post.display}" class="fa fa-eye-slash" style="font-size: 18px; color:gray; margin-left: 5px"></i>
                                    </div>
                                </div>
                                <a class="h5 text-decoration-none" style="color:#212529" href="#" th:text="${post.title}" th:href="'/post/' + ${post.id}" onclick="window.location.href=($(this).attr('href'))"></a>
                            </div>
                            <div class="card-footer bg-white border-0 px-0 py-0">
                                <div class="d-grid">
                                    <a class="btn btn-sm btn-secondary rounded-0 rounded-bottom" th:href="'/post/' + ${post.id}">
                                        Перейти
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ml-auto" style="width: 33%; margin-left: 4px; ">
                <div class="blog-card">
                    <div class="card shadow">
                        <a href="#">
                            <img th:if="${user.imageName != null}" th:src="'/image/theDrive_dirs/' + ${user.id} + '/' + ${user.uuid} + '/' + ${user.imageName}" class="card-img-top rounded-top" style="object-fit: cover; height: 150px">
                            <img th:if="${user.imageName == null}" src="/image/theDrive_dirs/image/post.PNG" class="card-img-top rounded-top" style="object-fit: cover; height: 150px">
                        </a>
                        <div class="card-body">
                            <h5 class="text-center" th:text="${user.firstName} + ' ' + ${user.lastName}"></h5>
                            <div class="row text-center">
                                <div class="col-6" >
                                    <a data-bs-toggle="modal" data-bs-target="#followersModal" style="cursor: pointer">
                                        <h5 th:text="${#lists.size(user.getFollowers())}"></h5>
                                        <p>Подписчики</p>
                                    </a>
                                    <div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="followersModalLabel">Подписчики</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p th:if="${#lists.size(user.getFollowers()) == 0}" style="margin-top: 16px; color: gray">У пользователя нет подписок</p>
                                                    <ul class="list-group list-group-flush">
                                                        <li th:each="subscription : ${user.getFollowers()}" class="list-group-item" style="cursor: pointer">
                                                            <h6 th:text="${subscription.user.login}" th:href="'/profile/' + ${subscription.user .id}" onclick="window.location.href=($(this).attr('href'))"></h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <a data-bs-toggle="modal" data-bs-target="#followModal" style="cursor: pointer">
                                        <h5 th:text="${#lists.size(user.getFollowCar()) + #lists.size(user.getFollowUser())}"></h5>
                                        <p>Подписки</p>
                                    </a>
                                    <div class="modal fade" id="followModal" tabindex="-1" aria-labelledby="followModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="followModalLabel">Подписки</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <ul class="nav nav-pills nav-fill" role="tablist">
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link active" id="blog-tab" data-bs-toggle="tab" data-bs-target="#blog" type="button" role="tab" aria-controls="blog" aria-selected="true" style="width: 233px">Пользователи</button>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link" id="service-tab" data-bs-toggle="tab" data-bs-target="#service" type="button" role="tab" aria-controls="service" aria-selected="false" style="width: 233px">Авто</button>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane fade show active" id="blog" role="tabpanel" aria-labelledby="blog-tab">
                                                            <p th:if="${#lists.size(user.getFollowUser()) == 0}" style="margin-top: 16px; color: gray">Нет подписок на пользователей</p>
                                                            <ul class="list-group list-group-flush" style="margin-top:15px">
                                                                <li class="list-group-item" th:each="subscription : ${user.getFollowUser()}" style="cursor: pointer">
                                                                    <h6 th:text="${subscription.userFollow.login}" th:href="'/profile/' + ${subscription.userFollow.id}" onclick="window.location.href=($(this).attr('href'))"></h6>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="tab-pane fade" id="service" role="tabpanel" aria-labelledby="service-tab">
                                                            <p th:if="${#lists.size(user.getFollowCar()) == 0}" style="margin-top: 16px; color: gray">Нет подписок на авто</p>
                                                            <ul class="list-group list-group-flush" style="margin-top:15px">
                                                                <li class="list-group-item" th:each="follow_car : ${user.getFollowCar()}" style="cursor: pointer">
                                                                    <a th:href="'/profile/car_profile/' + ${follow_car.carFollow.id}" onclick="window.location.href=($(this).attr('href'))" class="text-center" style="color: #212529;text-decoration: none;">
                                                                        <h6 class="text-center" th:unless="${follow_car.carFollow.name} == null" th:text="${follow_car.carFollow.brand.description} + ' ' + ${follow_car.carFollow.model.description} + ' ' + ${follow_car.carFollow.name}"></h6>
                                                                        <h6 class="text-center" th:if="${follow_car.carFollow.name} == null" th:text="${follow_car.carFollow.brand.description} + ' ' + ${follow_car.carFollow.model.description}"></h6>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div sec:authorize="isAuthenticated()" th:if="${subscriptionUser != null}" class="card-footer bg-white border-0 px-0 py-0">
                            <div class="d-grid">
                                <button th:if="${subscriptionUser == false}" class="btn btn-sm btn-secondary rounded-0 rounded-bottom" name="subscription_button" style="background-color: #007bff; border: none; transition: background-color 0.7s ease;" th:onclick="changeSubscriptionUser([[${user.id}]])">Подписаться</button>
                                <button th:if="${subscriptionUser == true}" class="btn btn-sm btn-secondary rounded-0 rounded-bottom" name="subscription_button" style="background-color: #28a745; border: none; transition: background-color 0.7s ease;" th:onclick="changeSubscriptionUser([[${user.id}]])">Отписаться</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
<script>
    $(document).ready(function() {
        $('.select2').select2();
    })
</script>

</body>
</html>